@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* globals.css */
@layer base {
  * {
    /* Format: scrollbar-color: [Thumb Color] [Track Color] */
    scrollbar-width: thin;
    scrollbar-color: #ace7c2 #f4f6f9; /* green-500 and your background gray */
  }

  /* Webkit support for Chrome/Safari/Edge */
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #22c55e;
    border-radius: 20px;
  }
}